div#nav{
    
    height: 35px;
    background: #a35ac4;
    margin: 0 auto;
        
}

#nav ul{
    width: 900px;
    margin: 0 auto;
}

#nav ul li{
    display: inline-block;
}

#nav ul li a{
    color: beige;
    padding:0 20px;
    font-family: Economica;
    font-weight: bold;
    text-decoration: none;
    line-height: 35px;
    text-transform:uppercase;
    display: inline-block;
}

#nav ul li a:hover{
    background: #f0ecec;
    color: #9b9b9b;
}