div#nav {
    background:#1aa4ff;
    border: 1px solid #eeeeee;
    position: relative;
}

#nav ul.main {
    width: 900px;
    height: 38px;
    margin: 0 auto;
    
}

#nav ul.main li{
    float: left;
    list-style-type: none;
}

#nav ul.main li a {
    color: white;
    padding: 0 14px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    line-height: 38px;
    text-transform:uppercase;
    display: inline-block;
    
}

#nav ul.main li a:hover {
    background: #eeeeee;
    color: #9fa1a0;
}

ul.dropdawn {
    position: absolute;
    background:#eeeeee;
    display: none;
<<<<<<< HEAD
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding-left:28%;
}     
=======
    padding-left: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    
}
>>>>>>> 5e5db4de8e74c24710a9fa4186c9e975722456c1

#nav ul.dropdawn li a{
    color: #9fa1a0;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 15px;
<<<<<<< HEAD
    
=======
>>>>>>> 5e5db4de8e74c24710a9fa4186c9e975722456c1
}
#nav ul.dropdawn li a:hover {
     color: #777777;
}

#nav li:hover .dropdawn {
    display: block;
}
<<<<<<< HEAD
=======

>>>>>>> 5e5db4de8e74c24710a9fa4186c9e975722456c1
